.graph-background {
    background-color: white;
    background-image:
        linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, .2) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .1) .5px, transparent .5px),
        linear-gradient(90deg, rgba(0, 0, 0, .1) .5px, transparent .5px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.graph-background2 {
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, .1) 1px, transparent 1px);
}

.graph-background3 {
    background-color: #f0f8ff;
    background-image:
        linear-gradient(rgba(0, 0, 100, .1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 100, .1) 1px, transparent 1px);
    background-size: 20px 20px;
}

.graph-background4 {
    background-image: radial-gradient(circle, #000000 1px, transparent 1px);
    background-size: 20px 20px;
}